<div class="row cards">
  <div class="col card m-2 p-3">
    <div class="ui statistic">
      <div class="label">
        <h4>Confirmed</h4>
      </div>
      <div class="value">
        {{totalConfirmed | number:'':'en-IN'}}
      </div>
    </div>
  </div>

  <div class="col card m-2 p-3">
    <div class="ui statistic">
      <div class="label">
        <h4>Active</h4>
      </div>
      <div class="value">
        {{totalActive | number:'':'en-IN'}}
      </div>
    </div>
  </div>

  <div class="col card m-2 p-3">
    <div class="ui statistic">
      <div class="label">
        <h4>Recovered</h4>
      </div>
      <div class="value" >
          {{totalRecovered | number:'':'en-IN'}}
      </div>
    </div>
  </div>

  <div class="col card m-2 p-3">
    <div class="ui statistic">
      <div class="label">
      <h4>Deaths</h4>
      </div>
      <div class="value">
        {{totalDeaths | number:'':'en-IN'}}

      </div>
    </div>
  </div>
</div>
